<html>
    <head>
        <title>upload the file : GFG</title>
    </head>
    <body>
        <form action = "/success" method = "post" enctype="multipart/form-data">
            <div>
                <label>
                    Insert mass
                    <br>
                    <input type="number" name="mass" placeholder="kg" value="10"/>
                </label>
            </div>
            <br>
            <div>
                <label>
                    Upload CSV file
                    <br>
                    <input type="file" name="file" />
                    <input type = "submit" value="Upload">
                </label>
            </div>
        </form>
    </body>
</html>